* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  font-size: 1.4rem;
  margin: 0;
  padding: 0;
}

.alert {
  height: 2rem;
  text-align: center;
  margin: 0 auto 1rem;
  width: 36rem;
}

.alert-danger {
  background-color: rgb(224, 38, 38);
  color: rgb(100, 0, 14);
}
.alert-success {
  background-color: rgb(183, 114, 185);
  color: rgb(70, 29, 71);
}

#mainbody {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  margin: 3% auto 0;
  gap: 1rem;
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  text-shadow: 2px 2px 2px rgb(183, 114, 185);
}

/* add box */

.input-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#list-item {
  border: 0.1rem rgb(183, 114, 185) solid;
  border-right: none;
  padding: 0.5rem;
  width: 30rem;
}
.add-btn {
  width: 6rem;
  padding: 0.5rem 2rem;
  border: 0.1rem rgb(183, 114, 185) solid;
  font-size: smaller;
}

/* list */
.list-container {
  display: flex;
  flex-direction: column;
  visibility: hidden;
  border: 0.1rem rgb(183, 114, 185) solid;
  width: 36rem;
}

.show-container {
  visibility: visible;
}
.grocery-item {
  display: flex;
  justify-content: space-between;
  margin: 0.3rem auto;
  padding: 0 0.5rem 0.5rem;
  border-bottom: 0.1rem rgb(183, 114, 185) dotted;
}
.grocery-item:last-of-type {
  border-bottom: none;
}

.btn-container {
  display: flex;
  gap: 1rem;
}

.edit-btn {
  border: none;
  background-color: white;
  color: rgb(100, 216, 100);
}
.delete-btn {
  border: none;
  background-color: white;
  color: rgb(224, 38, 38);
}

/* clear button */

.clear-btn {
  border: none;
  letter-spacing: 0.2rem;
  background-color: white;
  color: rgb(224, 38, 38);
  margin-top: 0.5rem;
  text-align: center;
}

footer {
  display: flex;
}
footer a {
  color: rgb(183, 114, 185);
  text-align: center;
  margin: 0 auto;
}
